@import "../../../vars.css";

.heroSection {
  height: auto;
  min-height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContent {
  flex-basis: 50%;
  padding: 40px 20px;
  color: var(--color-text);
}

.greeting {
  font-size: 26px;
  margin-bottom: 6px;
}

.nameTitle {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 6px;
}

.profession {
  font-size: 30px;
  margin-bottom: 6px;
}

.profession > span {
  color: var(--color-light);
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 20px;
}

.description span {
  color: var(--color-light);
  opacity: 1;
}

.socialIcons {
  font-size: 25px;
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialIcons a {
  text-decoration: none;
  color: var(--color-text);
  opacity: 0.7;
  /* margin-right: 15px; */
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.socialIcons i {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}

.socialIcons a:hover {
  color: var(--color-light);
  transform: translateY(-5px);
}

.rightContent {
  flex-basis: 40%;
  text-align: center;
}

.imageContainer img {
  width: 70%;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  animation: bounceAnimation 1.5s infinite alternate ease-in-out;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* =========================Media Queries================= */
@media only screen and (max-width: 600px) {
  .heroSection {
    height: auto;
  }
  .mainContainer {
    flex-direction: column-reverse;
    margin-top: 7rem;
  }
  .description {
    padding: 20px;
  }
  .leftContent {
    flex-basis: auto;
    text-align: center;
  }
  .rightContent {
    flex-basis: auto;
  }
  .imageContainer img {
    width: 60%;
  }
  .greeting,
  .profession {
    font-size: 1.6rem;
  }
  .nameTitle {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .heroSection {
    height: auto;
  }
  .mainContainer {
    flex-direction: column-reverse;
    margin-top: 7rem;
  }
  .description {
    padding: 30px;
  }
  .leftContent {
    flex-basis: auto;
    text-align: center;
  }
  .rightContent {
    flex-basis: auto;
  }
  .imageContainer img {
    width: 65%;
    max-width: 500px;
  }
  .greeting,
  .profession {
    font-size: 1.6rem;
  }
  .nameTitle {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .heroSection {
    height: auto;
  }
  .mainContainer {
    margin-top: 8rem;
  }
  .greeting,
  .profession {
    font-size: 1.6rem;
  }
  .nameTitle {
    font-size: 2.5rem;
  }
  .imageContainer img {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .socialIcons {
    justify-content: start;
    gap: 1rem;
  }
}
