@import "../../vars.css";

.about {
  background-color: var(--color-primary);
  color: var(--color-text);
  /* height: 100vh; */
  height: 100%;
  /* padding-top: 60px; */
}

.aboutSection {
  padding-top: 120px;
  padding-bottom: 70px;
  text-align: center;
}
/* ========================Heading Section================== */

.headingSection {
  text-align: center;
}
.heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}
.heading > span {
  color: var(--color-light);
}

.headingSection hr {
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
  color: var(--color-light);
}
/* ========================Detail Section================== */

.detailSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 70px;
}

.imageSection {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 40%;
}

.image {
  width: 360px;
  border-radius: 20px;
  outline: 2px solid var(--color-text);
}
/* ==================================== */
.biography {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  outline: 2px solid white;
  background-color: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 25, 190, 0) 100%);
  /* background: linear-gradient(30deg, var(--color-light) 0%, var(--color-secondary) 100%); */
  /* margin-bottom: 30px; */
  border-radius: 25px;
}
.biography img {
  width: 80px;
  background-color: var(--color-text);
  border-radius: 15px;
}
.biography .zone {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding-top: 25px;
  text-align: start;
}
.biography p {
  margin-bottom: 25px;
}
.zone p:first-child {
  font-size: 24px;
}
.zone p:nth-child(2),
p:nth-child(3) {
  font-size: 20px;
}

.descSection {
  flex-basis: 50%;
  text-align: start;
  padding-right: 120px;
}

.descSection .biography:first-child {
  margin-bottom: 20px;
}
/* ========================================= */
@media only screen and (max-width: 600px) {
  .about {
    height: auto;
  }

  .imageSection img {
    width: 250px;
  }
  .detailSection {
    flex-direction: column;
    gap: 25px;
  }
  .descSection {
    text-align: center;
    padding: 10px;
  }

  .headingSection hr {
    width: 12rem;
  }
  /* .biography {
    flex-direction: column;
  } */
  .zone p:first-child {
    font-size: 18px;
  }
  .zone p:nth-child(2),
  p:nth-child(3) {
    font-size: 16px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .about {
    height: auto;
  }
  .imageSection img {
    width: 300px;
  }
  .detailSection {
    flex-direction: column;
    gap: 30px;
  }
  .descSection {
    text-align: center;
    padding: 10px;
  }
  .description {
    padding: 20px;
  }
  .headingSection hr {
    width: 12rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about {
    height: auto;
  }

  .imageSection img {
    width: 300px;
  }

  .descSection {
    text-align: center;
    padding: 10px;
  }

  .headingSection hr {
    width: 12rem;
  }
  .title {
    font-size: 1.7rem;
    margin-top: 20px;
  }
}
