@import "../../../vars.css";

.navbar {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navSection {
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSection {
  margin-right: 30px;
}

.logoImage {
  width: 100px;
  cursor: pointer;
  display: flex;
}

.navListSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSection {
  display: none;
  cursor: pointer;
}

.iconSection i {
  font-size: 1.5rem;
  color: var(--color-hamburger);
}

.navItems {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navLink {
  font-size: 20px;
  list-style: none;
}

.navLink a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-navlink);
  position: relative;
}

.navLink a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-light);
  transition: width 0.3s ease-in-out;
}

.navLink a:hover::before {
  width: 100%;
}

/* =====================Media Queries=================== */
@media only screen and (max-width: 768px) {
  .iconSection {
    display: block;
  }

  .navListSection {
    position: absolute;
    top: 85px;
    right: 10px;
    background-color: var(--color-hamburger);
    border-radius: 20px;
    padding: 40px;
    z-index: 100;
    display: none;
  }

  .navListSection.menuOpen {
    display: block;
  }

  .navItems {
    flex-direction: column;
    gap: 15px;
  }

  .navItems a {
    color: var(--color-primary);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navItems {
    gap: 25px;
  }
}
