:root {
  --color-navlink: #fff;
  --color-title: #fff;
  --color-primary-text: #fff;
  --color-secondary-text: #181d31;
  --color-primary: #181d31;
  --color-secondary: #3d405b;
  --color-light: #ffc441;
  --color-outline: #fff;
  --color-hamburger: #fff;
  --color-social-icons: #fff;
  --color-icon: #181d31;
  --color-button-text: #181d31;
  --color-success: rgb(217, 255, 0);
  --color-error: red;
  --color-linear: linear-gradient(90deg, #19376d 0%, rgba(25, 25, 190, 0) 100%);

  --font-roboto: "roboto";
}
